{{ template "base" . }}
{{ define "title" -}} Transfer {{ .Transfer.ID }} Detail {{- end }}
{{ define "main" }}
<div class="d-flex justify-content-between mt-5 align-items-start">
    <h5 class="display-5 m-0">{{ template "title" . }}</h5>
    
    <!-- Cancel button -->
    <div>
    {{ if or (eq .Transfer.Status "active") (eq .Transfer.Status "queued") }}
        <button class="btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Cancel">
            <span data-bs-toggle="modal" data-bs-target="#cancelModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x-octagon"
                viewBox="0 0 16 16">
                <path
                    d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z" />
                <path
                    d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg>
        </span>
        </button>
    {{ end }}

    <button class="btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
        <span data-bs-toggle="modal" data-bs-target="#deleteModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-trash"
                viewBox="0 0 16 16">
                <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                <path fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
            </svg>
        </span>
    </button>
</div>
</div>

{{ with .Transfer }}
<p class="mt-5 mb-1"><strong>Status:</strong> {{ .Status }}</p>
<p class="mb-1"><strong>Created at:</strong> {{ humanDate .CreatedAt }}</p>
{{ if ne (humanDate .StoppedAt) "" }}
<p class="mb-1"><strong>Stopped at:</strong> {{ humanDate .StoppedAt }}</p>
{{ end }}
<p class="mb-1"><strong>Overwrite on insert:</strong> {{ .Overwrite }}</p>

{{ if .Error }}
<h4 class="mt-5">Error</h4>
<div class="d-block bg-light p-3">
    <code>{{ .Error }}</code>
</div>
{{ end }}

<h4 class="mt-5 mb-2">Query</h4>
<div class="d-block bg-light p-3">
    <code>{{ .Query }}</code>
</div>


<div class="row my-5 gx-5">
    <div class="col-lg d-flex justify-content-center align-items-start">
        <div class="card shadow-sm flex-fill border">
            <h4 class="text-center my-3">Source Connection</h4>
            <table class="table m-0 border-top">
                <tbody>
                    <tr>
                        <th scope="row" class="bg-dark text-light">Id</th>
                        <td>{{ .SourceID }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="bg-dark text-light">Name</th>
                        <td>{{ .Source.Name }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="bg-dark text-light">DsType</th>
                        <td>{{ .Source.DsType }}</td>
                    </tr>
                    {{ if ne .Source.DsType "snowflake" }}
                    <tr>
                        <th scope="row" class="bg-dark text-light">Hostname</th>
                        <td>{{ .Source.Hostname }}</td>
                    </tr>
                    {{ else }}
                    <tr>
                        <th scope="row" class="bg-dark text-light">Account Id</th>
                        <td>{{ .Source.AccountId }}</td>
                    </tr>
                    {{ end }}
                    <tr>
                        <th scope="row" class="bg-dark text-light">Db Name</th>
                        <td>{{ .Source.DbName }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- </div> -->
    </div>
    <div class="col-1 d-lg-flex d-none flex-column align-items-center justify-content-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-right"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
        </svg>
    </div>
    <div class="col my-3 d-flex d-lg-none justify-content-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-down"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
        </svg>
    </div>
    <div class="col-lg d-flex justify-content-center align-items-start">
        <div class="card shadow-sm flex-fill">
            <h4 class="text-center my-3">Target Connection</h4>
            <table class="table m-0 border-top">
                <tbody>
                    <tr>
                        <th class="bg-dark text-light">Id</th>
                        <td>{{ .TargetID }}</td>
                    </tr>
                    <tr>
                        <th class="bg-dark text-light">Name</th>
                        <td>{{ .Target.Name }}</td>
                    </tr>
                    <tr>
                        <th class="bg-dark text-light">DsType</th>
                        <td>{{ .Target.DsType }}</td>
                    </tr>
                    {{ if ne .Target.DsType "snowflake" }}
                    <tr>
                        <th class="bg-dark text-light">Hostname</th>
                        <td>{{ .Target.Hostname }}</td>
                    </tr>
                    {{ else }}
                    <tr>
                        <th class="bg-dark text-light">Account Id</th>
                        <td>{{ .Target.AccountId }}</td>
                    </tr>
                    {{ end }}
                    <tr>
                        <th class="bg-dark text-light">Db Name</th>
                        <td>{{ .Target.DbName }}</td>
                    </tr>
                    <tr>
                        <th class="bg-dark text-light">Target schema</th>
                        <td>{{ .TargetSchema }}</td>
                    </tr>
                    <tr>
                        <th class="bg-dark text-light">Target table</th>
                        <td>{{ .TargetTable }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{{ end }}

<!-- Cancel Modal -->
<div class="modal fade" id="cancelModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal header -->
            <div class="modal-header">
                <h5 class="modal-title">Cancel transfer?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body container">
                <div class="d-flex justify-content-end mt-4">
                    <button class="btn me-2 btn-outline-secondary" data-bs-dismiss="modal">Dismiss</button>
                    <form action="/ui/cancel-transfer/{{ .Transfer.ID }}" method="post">
                        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
                        <button type="submit" class="btn btn-danger">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Delete modal -->
<div class="modal fade" id="deleteModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal header -->
            <div class="modal-header">
                <h5 class="modal-title">Delete transfer?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body container">
                <p><b class="text-danger">WARNING</b>: Deleting a transfer does not stop the transfer, it only removes the record of it in the databse.</p>
                <p>If you want the transfer to stop, you must cancel it first.</p>
                <div class="d-flex justify-content-end mt-4">
                    <button class="btn me-2 btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form action="/ui/delete-transfer/{{ .Transfer.ID }}" method="post">
                        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}