{{ template "base" . }}
{{ define "title" -}} Create User {{- end }}
{{ define "main" }}

<div class="d-flex justify-content-center">
    <div class="d-flex flex-column" style="max-width: 540px; width: 100%;">
        <h5 class="display-5 my-5">{{ template "title" . }}</h5>
        <form action="/ui/users" method="post">
            <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
            {{with .Form}}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input class="form-control {{with .Validator.Get "username"}}is-invalid{{end}}" id="username" name="username" value='{{.Get "username"}}'>
                {{with .Validator.Get "username"}}
                <div class="invalid-feedback">{{.}}</div>
                {{end}}
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control {{with .Validator.Get "password"}}is-invalid{{end}}" id="password" name="password">
                {{with .Validator.Get "password"}}
                <div class="invalid-feedback">{{.}}</div>
                {{end}}
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="admin" name="admin" {{if eq (.Get "admin" ) "on"
                    }}checked{{end}}>
                <label class="form-check-label" for="admin">Admin</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            {{end}}
        </form>
    </div>
</div>
{{ end }}