{{template "base" .}}

{{define "title"}}Login{{end}}

{{define "main"}}

<div class="d-flex justify-content-center">
    <div class="d-flex flex-column" style="max-width: 540px; width: 100%;">
        <h5 class="display-5 my-5">{{ template "title" . }}</h5>
        <form action='/ui/login' method='POST' novalidate>
            <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
            {{with .Form}}
            {{with .Validator.Get "generic"}}
            <div class="alert alert-danger" role="alert">
                {{.}}
            </div>
            {{end}}
            <div class="mb-3">
                <label for="username" class="form-label">Username:</label>
                <input class="form-control" id="username" name='username' value='{{.Get "username"}}'>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input class="form-control" id="password" type='password' name='password'>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            {{end}}
        </form>
    </div>
</div>
{{end}}