{{ template "base" . }}
{{ define "title" -}} Run Query {{- end }}
{{ define "main" }}

<div class="d-flex justify-content-center mb-5">
    <div class="d-flex flex-column" style="max-width: 540px; width: 100%;">
        <h5 class="display-5 my-5">{{ template "title" . }}</h5>
        <form action="/ui/create-query" method="post">
            <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>

            <div class="mb-3">
                <label for="connectionId" class="form-label">Connection</label>
                <select name="connectionId" id="connectionId" class="form-select {{with .Form.Validator.Get "connectionId"}}is-invalid{{end}}">
                    <option selected disabled value="">Select</option>
                    {{ range .Connections }}
                    <option value="{{ .ID }}">{{ .Name }}</option>
                    {{ end }}
                </select>
                {{with .Form.Validator.Get "connectionId"}}
                <div class="invalid-feedback">{{.}}</div>
                {{end}}
            </div>

            <div class="mb-3">
                <label for="query" class="form-label">Query</label>
                <textarea rows=5 class="form-control {{with .Form.Validator.Get "query"}}is-invalid{{end}}" id="query"
                    name="query" value='{{.Form.Get "query"}}'></textarea>
                {{with .Form.Validator.Get "query"}}
                <div class="invalid-feedback">{{.}}</div>
                {{end}}
            </div>


            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
{{ end }}