{{ template "base" . }}
{{ define "title" -}} Connection {{ .Connection.ID }} Detail {{- end }}
{{ define "main" }}

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal header -->
            <div class="modal-header">
                <h5 class="modal-title">Delete connection?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body container">
                <p>Deleting a connection does not stop any in-progress transfers, or delete records of any transfer.</p>
                <div class="d-flex justify-content-end mt-4">
                    <button class="btn me-2 btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form action="/ui/delete-connection/{{ .Connection.ID }}" method="post">
                        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="width: 100%;" class="d-flex mt-5 align-items-start justify-content-end">


    <!-- Regular screens -->
    <a href="/ui/update-connection/{{.Connection.ID}}" class="btn btn-outline-secondary me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-pencil"
            viewBox="0 0 16 16">
            <path
                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
        </svg>
    </a>

    <button class="btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
        <span data-bs-toggle="modal" data-bs-target="#deleteModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-trash"
                viewBox="0 0 16 16">
                <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                <path fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
            </svg>
        </span>
    </button>
</div>

<div class="d-flex justify-content-center">
    <div class="card my-5 flex-fill shadow-sm border" style="max-width: 600px;">
        <div class='bg-dark'>
            <h4 class="m-2 text-center text-light">Connection details</h4>
        </div>
        <table class="table m-0 border-top">
            <tbody>
                <tr>
                    <th scope="row" class="bg-dark text-light">ID</th>
                    <td>{{ .Connection.ID }}</td>
                </tr>
                <tr>
                    <th scope="row" class="bg-dark text-light">Name</th>
                    <td>{{ .Connection.Name }}</td>
                </tr>
                <tr>
                    <th scope="row" class="bg-dark text-light">Data system type</th>
                    <td>{{ .Connection.DsType }}</td>
                </tr>
                <tr>
                    <th scope="row" class="bg-dark text-light">Created At</th>
                    <td>{{humanDate .Connection.CreatedAt }}</td>
                </tr>
                <tr>
                    <th scope="row" class="bg-dark text-light">Username</th>
                    <td>{{ .Connection.Username }}</td>
                </tr>
                {{ if ne .Connection.DsType "snowflake "}}
                <tr>
                    <th scope="row" class="bg-dark text-light">Hostname</th>
                    <td>{{ .Connection.Hostname }}</td>
                </tr>
                <tr>
                    <th scope="row" class="bg-dark text-light">Port</th>
                    <td>{{ .Connection.Port }}</td>
                </tr>
                {{ else }}
                <tr>
                    <th scope="row" class="bg-dark text-light">Account ID</th>
                    <td>{{ .Connection.AccountId }}</td>
                </tr>
                {{ end }}
                <tr>
                    <th scope="row" class="bg-dark text-light">DB Name</th>
                    <td>{{ .Connection.DbName }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    function deleteConnection(connectionId) {
        fetch(`/ui/connections/${connectionId}`, {
            method: 'delete',
        })
    }
</script>
{{ end }}