{{ template "base" . }}
{{ define "title" -}} Create Connection {{- end }}
{{ define "main" }}

<div class="d-flex justify-content-center mb-5">
    <div class="d-flex flex-column" style="max-width: 540px; width: 100%;">
        <h5 class="display-5 my-5">{{ template "title" . }}</h5>
        <form action="/ui/create-connection" method="post">
            <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
            {{with .Form}}

            {{with .Validator.Get "canConnect"}}
            <div class="text-danger mb-3">{{.}}</div>
            {{end}}

            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input class="form-control {{with .Validator.Get "name"}}is-invalid{{end}}" id="name" name="name"
                    value='{{.Get "name"}}' data-bs-toggle="tooltip" data-bs-placement="top"
                    title='Pick a unique name for your connection, like "Prod" or "Data Warehouse"'>
                {{with .Validator.Get "name"}}
                <div class="invalid-feedback">{{.}}</div>
                {{end}}
            </div>

            <div class="mb-3">
                <label for="name" class="form-label">Data system type</label>
                <select name="dsType" id="dsType" class="form-select {{with .Validator.Get "dsType"}}is-invalid{{end}}">
                    <option selected disabled value="">Select</option>
                    <option {{if eq ( .Get "dsType" ) "postgresql"}} selected {{end}} value="postgresql">PostgreSQL</option>
                    <option {{if eq ( .Get "dsType" ) "mysql"}} selected {{end}} value="mysql">MySQL</option>
                    <option {{if eq ( .Get "dsType" ) "mssql"}} selected {{end}} value="mssql">SQL Server</option>
                    <option {{if eq ( .Get "dsType" ) "oracle"}} selected {{end}} value="oracle">Oracle</option>
                    <option {{if eq ( .Get "dsType" ) "redshift"}} selected {{end}} value="redshift">Redshift</option>
                    <option {{if eq ( .Get "dsType" ) "snowflake"}} selected {{end}} value="snowflake">Snowflake</option>
                </select>
                {{with .Validator.Get "dsType"}}
                <div class="invalid-feedback">{{.}}</div>
                {{end}}
            </div>

            <div class="mb-3">
                <label for="hostname" class="form-label">Hostname</label>
                <input class="form-control {{with .Validator.Get "hostname"}}is-invalid{{end}}" id="hostname"
                    name="hostname" value='{{.Get "hostname"}}'>
                {{with .Validator.Get "hostname"}}
                <div class="invalid-feedback">{{.}}</div>
                {{end}}
            </div>

            <div class="mb-3">
                <label for="port" class="form-label">Port</label>
                <input class="form-control {{with .Validator.Get "port"}}is-invalid{{end}}" id="port" name="port"
                    value='{{.Get "port"}}'>
                {{with .Validator.Get "port"}}
                <div class="invalid-feedback">{{.}}</div>
                {{end}}
            </div>

            <div class="mb-3">
                <label for="accountId" class="form-label">Account ID (Snowflake only)</label>
                <input class="form-control {{with .Validator.Get "accountId"}}is-invalid{{end}}" id="accountId"
                    name="accountId" value='{{.Get "accountId"}}' data-bs-toggle="tooltip" data-bs-placement="top"
                    title='A Snowflake account ID can be found in the URL that you use to login to their web UI. It looks like "abc12345.us-east-1".'>
                {{with .Validator.Get "accountId"}}
                <div class="invalid-feedback">{{.}}</div>
                {{end}}
            </div>

            <div class="mb-3">
                <label for="dbName" class="form-label">DB Name</label>
                <input class="form-control {{with .Validator.Get "dbName"}}is-invalid{{end}}" id="dbName" name="dbName"
                    value='{{.Get "dbName"}}' data-bs-toggle="tooltip" data-bs-placement="top"
                    title='The name of the DB to connect to. For example, the default DB name in PostgreSQL is "postgres".'>
                {{with .Validator.Get "dbName"}}
                <div class="invalid-feedback">{{.}}</div>
                {{end}}
            </div>

            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input class="form-control {{with .Validator.Get "username"}}is-invalid{{end}}" id="username"
                    name="username" value='{{.Get "username"}}'>
                {{with .Validator.Get "username"}}
                <div class="invalid-feedback">{{.}}</div>
                {{end}}
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control {{with .Validator.Get "password"}}is-invalid{{end}}"
                    id="password" name="password">
                {{with .Validator.Get "password"}}
                <div class="invalid-feedback">{{.}}</div>
                {{end}}
            </div>
            <div class="d-flex justify-content-between">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="skipTest" name="skipTest" {{if eq (.Get "skipTest" ) "on"
                        }}checked{{end}} data-bs-toggle="tooltip" data-bs-placement="top"
                        title="SQLpipe will automatically check if it can connect to this data system upon submission. Check this box to skip this test.">
                    <label class="form-check-label" for="skipTest">Skip connection test</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            {{end}}
        </form>
    </div>
</div>
{{ end }}